{% if repos %}
<form
    hx-post="{{ url_for('generate_commit_message') }}"
    method="post"
    hx-target="#commit-message-container"
    hx-swap="innerHTML"
    hx-indicator="#loading"
    class="max-w-full h-full space-y-4 flex flex-col justify-center"
>
    <h2
        class="text-lg font-bold text-black border-b border-black mx-4 px-4 pb-2 tracking-wider"
    >
        REPOSITORIES
    </h2>

    <!-- <div class="mx-4 flex flex-col gap-4 w-fit">
        {% for repo in repos %}
        <div id="repo-{{ repo.id }}" class="flex items-center gap-6">
            <button
                hx-post="/remove-repo/{{ repo.id }}/"
                hx-target="#repo-list"
                hx-swap="innerHTML"
                hx-indicator="#loading"
                hx-confirm="Are you sure you want to remove {{ repo.name }}?"
                class="border-2 shadow-[2px_2px_0_rgba(0,0,0,0.3)] border-black p-1 rounded hover:scale-110 transition-transform"
            >
                {% include "icons/bin.html" %}
            </button>
            <label class="flex items-center gap-4">
                <div>
                    <input
                        type="radio"
                        name="repo_id"
                        value="{{ repo.id }}"
                        class="form-radio text-blue-500"
                        required
                    />
                    <span class="text-lg font-semibold capitalize"
                        >{{ repo.name }}</span
                    >
                </div>
            </label>
        </div>
        {% endfor %}
    </div> -->
    <select
        name="repo_id"
        id="repo_id"
        class="w-full px-4 py-2 border-2 border-black focus:outline-none shadow-[2px_2px_0_rgba(0,0,0,0.3)_inset] uppercase font-semibold tracking-widest"
    >
        {% for repo in repos %}
        <option value="{{ repo.id }}">{{ repo.name }}</option>
        {% endfor %}
    </select>
    <div>
        <textarea
            name="additional_instruction"
            id="additional-instruction"
            placeholder="Additional Instructions to the Model"
            class="w-full px-4 py-2 border-2 border-black focus:outline-none shadow-[2px_2px_0_rgba(0,0,0,0.3)_inset]"
        ></textarea>
    </div>

    <button
        type="submit"
        id="submit-button"
        class="w-full font-semibold border-2 border-black px-4 py-4  hover:-translate-y-[4px] hover:-translate-x-[4px] hover:shadow-[4px_4px_0_rgba(0,0,0,0.7)] transition-all bg-yellow-300 flex items-center justify-center active:translate-y-[4px] active:translate-x-[4px] active:shadow-none"
    >
        <span class="button-text text-xl tracking-wider">GENERATE</span>
        <!-- Spinner -->
        <svg
            class="button-spinner hidden animate-spin h-5 w-5 text-black"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
        >
            <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
            ></circle>
            <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8H4z"
            ></path>
        </svg>
    </button>
</form>
<div id="loading" class="flex justify-center hidden">
    <svg
        class="animate-spin h-6 w-6 text-black"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
    >
        <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
        ></circle>
        <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v8H4z"
        ></path>
    </svg>
</div>

{% else %}
<p>No repositories found.</p>
{% endif %}
