<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title or "Git Diff Tool" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Tailwind CSS CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body
        class="bg-gray-100 min-h-screen font-mono mx-8 flex flex-col gap-8"
        style="
            background-image: radial-gradient(
                    circle at 25% 25%,
                    rgb(0, 0, 0) 1px,
                    transparent 1px
                ),
                radial-gradient(
                    circle at 75% 75%,
                    rgb(0, 0, 0) 1px,
                    transparent 1px
                );
            background-size: 20px 20px;
        "
    >
        <header
            class="py-4 shadow-[8px_8px_0_rgba(0,0,0,0.7)] border-4 rounded-xl border-black px-8 py-6 h-40 flex flex-col gap-4 bg-white mt-4"
        >
            <h1
                class="text-center text-4xl text-black font-bold tracking-wider uppercase border-b-2 border-black px-4 py-2 w-full"
            >
                GIT DIFF TOOL
            </h1>
            <h3 class="font-semibold uppercase tracking-wider flex items-center gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-terminal w-8 h-8 text-black"
                    data-lov-id="src/pages/Index.tsx:76:12"
                    data-lov-name="Terminal"
                    data-component-path="src/pages/Index.tsx"
                    data-component-line="76"
                    data-component-file="Index.tsx"
                    data-component-name="Terminal"
                    data-component-content="%7B%22className%22%3A%22w-8%20h-8%20text-black%22%7D"
                >
                    <polyline points="4 17 10 11 4 5"></polyline>
                    <line x1="12" x2="20" y1="19" y2="19"></line>
                </svg>
                <span>Automated Commit Assistant</span>
            </h3>
        </header>

        <main
            class="grid grid-cols-4 w-full place-items-center row-span-6 gap-8 tracking-wider"
        >
            <aside class="flex flex-col gap-4 w-full">
                <div
                    class="w-full max-w-3xl bg-white rounded-2xl shadow-[6px_6px_0_rgba(0,0,0,0.7)] px-4 py-4 border-2 border-black"
                >
                    <h4
                        class="text-md font-semibold mb-4 border-b border-black py-2 px-4"
                    >
                        ADD REPOSITORY
                    </h4>
                    {% include "partials/add_repo.html" %}
                </div>
                <div
                    id="repo-list"
                    class="w-full rounded-2xl shadow-[6px_6px_0_rgba(0,0,0,0.7)] px-4 py-4 border-2 border-black bg-white"
                >
                    {% include "partials/repo_list.html" %}
                </div>
            </aside>
            <section
                id="commit-message-container"
                class="w-full h-full col-span-3 rounded-2xl shadow-[8px_8px_0_rgba(0,0,0,0.7)] px-4 py-4 border-4 border-black bg-white"
            >
                {% include "partials/commit_message.html" %}
            </section>
            <!-- <aside
                id="model-config"
                class="flex flex-col gap-4 w-full h-full pt-12"
            >
                {% include "partials/model_config_card.html" %}
            </aside> -->
        </main>

        <script src="/static/htmx.min.js"></script>
        <script>
            function showToast(message, duration = 3000) {
                const toastContainer =
                    document.getElementById("toast-container");

                const toast = document.createElement("div");
                toast.className =
                    "bg-white text-black px-4 py-2 rounded shadow-lg transition-opacity duration-300 ease-in-out";
                toast.textContent = message;

                toastContainer.appendChild(toast);

                setTimeout(() => {
                    toast.classList.add("opacity-0");
                    setTimeout(() => toast.remove(), 300);
                }, duration);
            }
            const copyCommitMessage = () => {};
            function copyToClipboard(text) {
                if (navigator.clipboard) {
                    navigator.clipboard
                        .writeText(text)
                        .then(() => showToast("Copied to clipboard!"))
                        .catch((error) => {
                            console.error("Clipboard API error:", error);
                            // fallbackCopyToClipboard(text);
                        });
                } // else {
                // fallbackCopyToClipboard(text);
                // }
            }
        </script>
        <script>
            // Loading spinner
            document.addEventListener("htmx:beforeRequest", function (evt) {
                console.log("htmx:send");
                const button = document.querySelector("#submit-button");
                button.querySelector(".button-text").classList.add("hidden");
                button
                    .querySelector(".button-spinner")
                    .classList.remove("hidden");
                button.disabled = true;
            });

            document.addEventListener("htmx:afterRequest", function (evt) {
                console.log("htmx:afterRequest");
                const button = document.querySelector("#submit-button");
                button.querySelector(".button-text").classList.remove("hidden");
                button.querySelector(".button-spinner").classList.add("hidden");
                button.disabled = false;
            });
        </script>
    </body>
</html>
