<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-hidden">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title or "Git Diff Tool" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Tailwind CSS CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body
        class="bg-gray-200 h-screen min-h-screen font-mono mx-8 pb-8 flex flex-col gap-8"
        style="
            background-image: radial-gradient(
                    circle at 25% 25%,
                    rgb(0, 0, 0) 1px,
                    transparent 1px
                ),
                radial-gradient(
                    circle at 75% 75%,
                    rgb(0, 0, 0) 1px,
                    transparent 1px
                );
            background-size: 20px 20px;
        "
    >
        {% include "partials/navbar.html" %}
        <header
            class="shadow-[8px_8px_0_rgba(0,0,0,0.7)] rounded-xl border-black px-16 py-6 h-40 flex flex-col gap-4 bg-white mt-4"
        >
            <h1
                class="text-center text-4xl text-black font-bold tracking-wider uppercase border-b-2 border-black px-4 py-2 w-full font-serif"
                style="text-shadow: rgb(221, 221, 221) 2px 2px 0px"
            >
                THE TASK HERALD
            </h1>
            <h3
                class="font-semibold uppercase tracking-wider flex items-center gap-2"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-terminal w-8 h-8 text-black"
                >
                    <polyline points="4 17 10 11 4 5"></polyline>
                    <line x1="12" x2="20" y1="19" y2="19"></line>
                </svg>
                <span>Track your Tasks with AI!</span>
            </h3>
        </header>

        <main
            class="grid grid-cols-4 w-full h-full row-span-6 gap-8 tracking-wider"
        >
            <aside class="flex flex-col gap-4 w-full">
                <div
                    id="model-config"
                    class="flex flex-col gap-4 w-full justify-center items-center rounded-2xl shadow-[6px_6px_0_rgba(0,0,0,0.7)] px-4 py-4 bg-white"
                >
                    {% include "partials/model_config_card.html" %}
                </div>
                <div
                    id="sheet-config"
                    class="flex flex-col gap-4 w-full justify-center items-center rounded-2xl shadow-[6px_6px_0_rgba(0,0,0,0.7)] px-4 py-4 bg-white"
                >

                    {% include "partials/task/sheet_form.html" %}
                </div>
            </aside>
            <section
                id="commit-message-container"
                class="w-full h-full col-span-3 rounded-2xl shadow-[8px_8px_0_rgba(0,0,0,0.7)] px-4 py-4 border-black bg-white"
            ></section>
        </main>

        <script src="/static/htmx.min.js"></script>

        <script>
            // Loading spinner
            document.addEventListener("htmx:beforeRequest", function (evt) {
                console.log("htmx:send");
                const button = document.querySelector("#submit-button");
                button.querySelector(".button-text").classList.add("hidden");
                button
                    .querySelector(".button-spinner")
                    .classList.remove("hidden");
                button.disabled = true;
            });

            document.addEventListener("htmx:afterRequest", function (evt) {
                console.log("htmx:afterRequest");
                const button = document.querySelector("#submit-button");
                button.querySelector(".button-text").classList.remove("hidden");
                button.querySelector(".button-spinner").classList.add("hidden");
                button.disabled = false;
            });
        </script>
    </body>
</html>
